*.o
*~
*.swp
Makefile
Makefile.in
config.log
config.status
configure
compile
aclocal.m4
config.h
/src/*.tap
/examples/*
/src/Makefile
/src/Makefile.in
/orig_src/Makefile
/orig_src/Makefile.in
/libf2c/Makefile
/libf2c/Makefile.in
/libf2c/.deps
/libf2c/*.a
/src/apt360
/src/.deps
/autom4te.cache/
/vim/Makefile.in
/vim/syntax/Makefile.in
/vim/Makefile
/src/core
