span.inlinemediaobject img {
    vertical-align: middle;
}

div.itemizedlist img {
    vertical-align: middle;
}

#outer {
position:relative;
}

#inner {
position:absolute;
left:75px;
bottom:0px;
}

pre.programlisting {
  background-color: #fefedd;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}
.vocab td {
 vertical-align:top;
 /*border:1px solid #D6DDE6;*/
}
